@using FaxMailFrontend.ViewModel
@using FaxMailFrontend.Shared
@using FaxMailFrontend.Data
@using System.Text.Json
@using FaxMailFrontend.Components
@using CurrieTechnologies.Razor.SweetAlert2
@using MailDLL;

@inject ErrorHandler eh
@inject FileHandler fileHandler;
@inject IConfiguration Configuration
@inject ILogger<EmailSinglePage> logger

@inject SweetAlertService Swal

@page "/EmailSinglePage"
@inject NavigationManager navigationManager

@inject IJSRuntime JSRuntime
@inject Microsoft.AspNetCore.Hosting.IWebHostEnvironment env;

<style>
    body {
    background-color: darkgreen;
    color: white;
    }
    .center-table {
    margin: auto;
    border: 5px solid black;
    border-collapse: collapse;
    }
    .center-table td {
    border: 2px solid black;
    text-align: center;
    }
    .center-table button {
    margin: 10px;
    }

    .center-table textarea {
    margin: 10px;
    }

    .center-table h1 {
    margin: 20px;
    }
</style>

@if (!@success)
{
    <table class="center-table">
        <tr>
            <td><h1>FeSiweb</h1></td>
            <td style="text-align: center;">
                <div @ref="@dropZoneElement" class="drop-zone">
                    <h2>Drop your files here</h2>
                    <div @ref="@inputFileContainer">
                        <InputFile OnChange="@OnChange" multiple />
                    </div>
                </div>
            </td>
            <td><img src="images/freihafen_logo.png" /></td>
        </tr>
        <tr>
            <td><FileHandlerComponent fileHandler="@fileHandler" OnPathChanged="HandlePathNameChanged"></FileHandlerComponent></td>
                <td style="width: 800px; height: 600px;">
                <CentralComponent File="@selectedFile"></CentralComponent>
                </td>
            <td >
                <ViewComponent GivenFile="@selectedFile" BasePath="@basePath" UUID="@fileHandler.UUID"></ViewComponent>
            </td>
        </tr>
        <tr>
            <td><button @onclick="Absenden" disabled="@absendenVerboten">Absenden</button></td>
            <td></td>
            <td><button @onclick="ResetPage">Vorgang resetten</button></td>
        </tr>
    </table>
}
else
{
    <div style="text-align: center; border: 5px solid black; margin: auto; width: fit-content; color: black;">
        <p><ApprovedComponent /></p>
        <p><PersonalInfoComponent Username="@username" Telefonnummer="@telefonnummer" Mail="@mail"/></p>
        <p><DateiListeComponent fileHandler="@fileHandler" /></p>
        <div>
            <div style="margin: 10px; display: flex; justify-content: space-between;">
                <button @onclick="Logout">Logout</button>
                <button @onclick="Refresh">Neustart</button>
            </div>
        </div>
    </div>
}

